{% extends 'base.html' %}
{% block content %}

<h1>Board Details</h1>

<div class="row">
  <div class="col s3"> <!------board----->
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ board.name }}</span>
        
        <p>Description: {{ board.description }}</p>
        {% if board.age > 0 %}
          <p>Age: {{ board.age }}</p>
        {% else %}
          <p>Age: New</p>
        {% endif %}
      </div>
      <div class="card-action">
        <a href="{% url 'boards_update' board.id %}">Edit</a>
        <a href="{% url 'boards_delete' board.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s9"><!----amp and guitar---->
    <div class="row">
      <div>
        <!-- new code below -->
        <form action="{% url 'add_session' board.id %}" method="post">
          {% csrf_token %}
          {{ session_form.as_p }}
          <input type="submit" class="btn" value="Add Session">
        </form>
        <!-- new code above -->
        <table class="striped">
    </div>
    

  </div>
  
</div><!---row---->
<div class="row">
  <div class="col s-12">
    <div class="row">
      <table class="striped">
        <thead>
          <tr><th>Date</th><th>Guitar</th><th>Amp</th><th>Session Notes:</th></tr>
        </thead>
        <tbody>
          {% for session in board.session_set.all %}
            <tr>
              <td>{{session.date}}</td>
              <td>{{session.get_guitar_display}}</td>
              <td>{{session.get_amp_display}}</td>
              <td>{{session.notes}}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ board.name }}'s Pedals</h3>
    {% if board.pedals.count %}
      {% for pedal in board.pedals.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span style="color: {{ pedal.color }}">{{ pedal.color }}</span> {{ pedal.name }}
            </span>
            <a href="{% url 'delete_assoc_pedal' board.id pedal.id %}">Delete</a>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Pedals :(</h5>
    {% endif %}
  </div>
  <!-- Available toys will come after this line -->
  <div class="col s6">
    <h3>Available Pedals</h3>
    {% if pedals.count %}
      {% for pedal in pedals.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span style="color: {{ pedal.color }}">{{ pedal.color }}</span> {{ pedal.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_pedal' board.id pedal.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{pedal.name}} Already Has All Pedals Available</h5>
    {% endif %}
  </div>
</div>


<script>
const dateEl = document.getElementById('id_date');
M.Datepicker.init(dateEl, {
  format: 'yyyy-mm-dd',
  defaultDate: new Date(),
  setDefaultDate: true,
  autoClose: true
});

const guitarEl = document.getElementById('id_guitar');
M.FormSelect.init(guitarEl);

const ampEl = document.getElementById('id_amp');
M.FormSelect.init(ampEl);

</script>


{% endblock %}